html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 1rem;
    font-size: 5rem;
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

#image-container {
    background: url(./eiffel.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#title {
    color: white;
    text-shadow: 1px 1px 1px #000;
    z-index: 2;
}

#content {
    border: 1px solid #66FF66;
    border-radius: 1rem;
    /* box-shadow: 1px 1px 1px #66FF66, -1px -1px 1px #66FF66; */
    box-sizing: border-box;
    height: 100%;
    margin: 1rem;
    width: max(75%, 50vw);
    background: rgba(0, 0, 0, .25);
    overflow: hidden;
    z-index: 3;
}

#nav-bar {
    width: 100%;
}

#nav-bar > ul{
    display: flex;
    width: 100%;
}

#nav-bar > ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

#nav-bar li {
    cursor: pointer;
    flex-grow: 1;
    padding: 1rem;
}

#nav-bar li.active {
    animation-name: glow;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    background: rgba(128, 128, 128, 0.438);
    border: 1px solid #66FF66;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #66FF66, 0 0 5px #66FF66;
    }

    100% {
        box-shadow: 0 0 20px #66FF66, 0 0 20px #66FF66;
    }
}

#content-div {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px 5px white;
}

#content-div img {
    border-radius: 1rem;
    height: 50%;
}

#content-div button {
    background-color: rgb(9, 72, 97);
    box-shadow: inset 2px 2px 5px darkblue;
    border: none;
    border-radius: 1rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 1rem;
    font-size: 125%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 4rem;
    }
}