h1 {
    margin: 1rem;
    font-size: 5rem;
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

#image-container {
    background: url(./eiffel.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#title {
    color: white;
    text-shadow: 1px 1px 1px #000;
    z-index: 2;
}

#content {
    height: 100%;
    margin: 1rem;
    width: max(75%, 50vw);
    background: black;
    opacity: 0.25;
    z-index: 3;
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 4rem;
    }
}